<section>
  <header class="header">
    <div class="imgh1">
      <img class="header-img" src="../../assets/images/reading.svg" alt="" />
      <h1>bookfinder</h1>
    </div>
    <p>
      Whether you're an avid bookworm or a holiday e-book browser,
      <span class="bold">bookfinder</span> can help you to find your next
      favourite! Enter your favourite author into the search box down below to
      find some other reads!
    </p>
    <div class="search-container">
    <input
      class="search__input"
      type="text"
      placeholder="Search by Author..."
      [(ngModel)]="searchText"
    />
    <button class="btn-search" (click)="handleSearch()">
      <fa-icon [icon]="faSearch"></fa-icon>
    </button></div>
  </header>
  <ul class="books">
    <li *ngFor="let book of books" class="book">
      <div class="img-container">
        <img
          src="{{ book.volumeInfo.imageLinks.thumbnail }}"
          alt="book image"
          class="thumbnail"
        />
      </div>
      <div *ngIf="book.volumeInfo.averageRating > 0">
        <div class="star_container">
          <img
            class="empty_stars"
            src="../../assets//images/empty_stars.svg"
            alt="stars"
          />
        </div>
        <div
          class="full_stars_container"
          [style.width.px]="book.volumeInfo.averageRating * 20"
        >
          <img
            class="full_stars"
            src="../../assets//images/full_stars.svg"
            alt="stars"
          />
        </div>
      </div>
      <fa-icon
        class="bookmark"
        [icon]="faBookmark"
        (click)="handleSave(book)"
      ></fa-icon>
      <h2>{{ book.volumeInfo.title }}</h2>
    </li>
  </ul>
</section>
